In [1]:
import requests
from bs4 import BeautifulSoup
import os.path
import pandas as pd
import re
url='http://registration.baa.org/cfm_Archive/iframe_ArchiveSearch.cfm?mode=results&RequestTimeout=600&snap=47418326&'

columns=['year','bib','name','age','gender','city','state', 'country', 'overall', 'genderdiv', 'division','official',
          'net']
#193 is the country ID of US.
#Hong Kong is 82, China Mainland 41, Japan: 96, Taiwan: 185

CountryIDs=[2,4,5,7,8,10,11,12,13,14,15,16,17,23,18,19,27,20,25,21,22,24,28,205,29,30,34,31,32,26,204,99,44,36,50,37,35,39,40,185,45,46,38,43,47,42,48,49,51,52,149,201,53,54,55,56,57,58,59,71,206,61,62,63,64,210,65,66,67,70,72,73,68,75,76,77,78,69,80,81,83,82,84,90,86,85,89,87,88,91,93,94,96,95,102,97,100,101,98,208,103,107,106,105,104,108,109,110,112,115,114,118,119,120,127,125,116,123,117,113,124,128,129,130,133,132,3,139,131,136,134,138,140,141,142,143,135,144,41,145,146,147,148,151,122,153,155,156,167,168,170,157,163,169,158,159,160,162,161,174,209,164,165,154,60,166,171,173,176,175,172,177,180,179,183,184,186,187,188,181,190,191,189,178,193,192,194,195,196,197,150,200,202,203]

In [2]:
def BMlist(request_result):
    df_bm=pd.DataFrame(columns=columns)
    soup = BeautifulSoup(request_result.text,"lxml")
    maintable=soup.find_all(name='tr', attrs={'class': 'tr_header'})
    subtable = soup.find_all(name="table", attrs={"class": "table_infogrid"})
    num=len(maintable)
    if num>0:
        for i in range(num):
            (year,bibnumber,name,age,gender,city,state,country,_)=[t.text.strip() for t in maintable[i].findAll("td")]
            (overall, genderdiv, division, official, net )= [t.text.strip() for t in subtable[i].findAll("td")]
            df_bm.loc[i]=[year,bibnumber,name,age,gender,city,state,country,overall,genderdiv,division,official,net]
    return df_bm

In [13]:
def savedatatocsv(df_bm,year):
    filename=''.join(['bm',str(year),'.csv'])
    if os.path.isfile(filename):
        with open(filename,'a') as f:
            df_bm.to_csv(f,index = False,header=False,encoding='utf-8')
    else:
        df_bm.to_csv(filename,index = False,header=True,encoding='utf-8')

In [4]:
def get_with_countryID_year(year,countryID,start=1):
    param = {'StoredProcParamsOn': 'yes',
                 #'LastName': "li",
                 #'GenderID': gender,
                 "CountryOfResidenceID": countryID,
                 'VarTargetCount': 1000,
                 'records':25,
                 'start': start,
                 "RaceYearLowID": str(year),
                 'next': 'Next+25+Records'}
    r = requests.post(url, param)
    return r

In [5]:
year=2016
ID=82
requested=get_with_countryID_year(year,ID,1)
df_bm=BMlist(requested)
df_bm

,year,bib,name,age,gender,city,state,country,overall,genderdiv,division,official,net
0,2016,3604,"Ahluwalia, Aditya",31,M,Hong Kong,,HKG,5439 / 26629,4585 / 14463,2545 / 4802,3:24:02,3:22:01
1,2016,5255,"Cameron, Benjamin J.",40,M,Pok Fu Lam,,HKG,19573 / 26629,11342 / 14463,1709 / 1994,4:17:43,4:14:23
2,2016,29743,"Chan, Phebe",43,F,Hong Kong,,HKG,24507 / 26629,10923 / 12166,1782 / 1938,5:07:47,5:00:46
3,2016,19247,"Chan, Wai Yee",42,F,Hong Kong,,HKG,12489 / 26629,4077 / 12166,685 / 1938,3:47:21,3:45:28
4,2016,20091,"Chan, Hung Ki",59,M,Hong Kong,,HKG,23293 / 26629,13013 / 14463,1393 / 1563,4:51:21,4:44:49
5,2016,12584,"Cherry, Paul",51,M,Stanley,,HKG,23414 / 26629,13071 / 14463,1848 / 2032,4:49:45,4:46:18
6,2016,10341,"Cheung, Chi Hung",48,M,Kowloon,,HKG,3162 / 26629,2859 / 14463,311 / 2502,3:12:58,3:11:37
7,2016,19603,"Cheung, Pui Ling Pauline",40,F,Hong Kong,,HKG,15827 / 26629,6016 / 12166,1092 / 1938,3:58:02,3:56:29
8,2016,11018,"Chiu, Sui Wing",50,M,Hong Kong,,HKG,22033 / 26629,12419 / 14463,1770 / 2032,4:33:51,4:31:42
9,2016,24276,"Chu, Hoi Kun",63,M,Hong Kong,,HKG,21662 / 26629,12256 / 14463,757 / 993,4:28:39,4:28:36
10,2016,29798,"Chu, Yun Peng",35,M,Hong Kong,,HKG,22819 / 26629,12775 / 14463,4270 / 4802,4:46:49,4:39:47
11,2016,11737,"Chui, Anthony",51,M,Hong Kong,,HKG,11003 / 26629,7758 / 14463,964 / 2032,3:44:20,3:40:35
12,2016,6177,"Chui, Nicole K.",22,F,Hong Kong,,HKG,3287 / 26629,321 / 12166,272 / 5946,3:16:54,3:12:19
13,2016,8790,"Chung, Wan Hang",40,M,Hong Kong,,HKG,2936 / 26629,2668 / 14463,456 / 1994,3:10:25,3:10:24
14,2016,21938,"Chung, Henry H.",60,M,Hong Kong,,HKG,21915 / 26629,12370 / 14463,769 / 993,4:34:37,4:30:41
15,2016,14802,"Fong, Gerald",52,M,Hong Kong,,HKG,23548 / 26629,13136 / 14463,1853 / 2032,4:52:17,4:47:54
16,2016,25859,"Fu, Tai Fan",37,F,Hong Kong,,HKG,22835 / 26629,10050 / 12166,4905 / 5946,4:41:32,4:39:55
17,2016,25346,"Fung, Zena",55,F,"Yuen Long, Hong Kong",,HKG,21543 / 26629,9330 / 12166,416 / 650,4:34:40,4:27:40
18,2016,1070,"Griffiths, Oliver",34,M,Hong Kong,,HKG,955 / 26629,911 / 14463,732 / 4802,2:56:31,2:56:04
19,2016,17473,"Ho, Wai Man",57,M,Hong Kong,,HKG,21764 / 26629,12295 / 14463,1304 / 1563,4:29:47,4:29:21
20,2016,10892,"Ho, Wai Keung, Woody",46,M,Cheung Sha Wan,,HKG,9086 / 26629,6786 / 14463,1225 / 2502,3:35:44,3:34:34
21,2016,22848,"Hoi Ying, Tsoi",45,F,Tseung Kwan O,,HKG,17732 / 26629,7112 / 12166,1042 / 1901,4:09:20,4:04:36
22,2016,2564,"Hui, Yue Yat Michael",34,M,Hong Kong,,HKG,3526 / 26629,3164 / 14463,2020 / 4802,3:14:40,3:13:30
23,2016,871,"Hung, Chung Yam",52,M,Hong Kong,,HKG,434 / 26629,413 / 14463,8 / 2032,2:49:13,2:49:09
24,2016,8777,"Kuk, Kok-Hung",50,M,Hong Kong,,HKG,8706 / 26629,6583 / 14463,734 / 2032,3:33:25,3:33:24

In [19]:
def get_num_by_CountryID(year,id):
    r=get_with_countryID_year(year,id)
    strnum=re.search(r'returned [0-9]*',r.text).group() 
    #print(strnum)
    totalnumber=int(''.join(list(filter(str.isdigit, str(strnum)))))
    return totalnumber

In [7]:
print ('({})'.format([267]))

([267])

In [23]:
def get_all_data(year):
    for id in [0]:
        totalnumber=get_num_by_CountryID(year,id)
        print('ID {},Totoalnumber {}').format(id,totalnumber)
        if totalnumber>0:
            for start in range(1,totalnumber,25):
                print('{},').format(start),
                requested=get_with_countryID_year(year,id,start)
                df_bm=BMlist(requested)
                savedatatocsv(df_bm,year)

In [ ]:
get_all_data(2015)

ID 0,Totoalnumber 26675
1, 26, 51, 76, 101, 126, 151, 176, 201, 226, 251, 276, 301, 326, 351, 376, 401, 426, 451, 476, 501, 526, 551, 576, 601, 626, 651, 676, 701, 726, 751, 776, 801, 826, 851, 876, 901, 926, 951, 976, 1001, 1026, 1051, 1076, 1101, 1126, 1151, 1176, 1201, 1226, 1251, 1276, 1301, 1326, 1351, 1376, 1401, 1426, 1451, 1476, 1501, 1526, 1551, 1576, 1601, 1626, 1651, 1676, 1701, 1726, 1751, 1776, 1801, 1826, 1851, 1876, 1901, 1926, 1951, 1976, 2001, 2026, 2051, 2076, 2101, 2126, 2151, 2176, 2201, 2226, 2251, 2276, 2301, 2326, 2351, 2376, 2401, 2426, 2451, 2476, 2501, 2526, 2551, 2576, 2601, 2626, 2651, 2676, 2701, 2726, 2751, 2776, 2801, 2826, 2851, 2876, 2901, 2926, 2951, 2976, 3001, 3026, 3051, 3076, 3101, 3126, 3151, 3176, 3201, 3226, 3251, 3276, 3301, 3326, 3351, 3376, 3401, 3426, 3451, 3476, 3501, 3526, 3551, 3576, 3601, 3626, 3651, 3676, 3701, 3726, 3751, 3776, 3801, 3826, 3851, 3876, 3901, 3926, 3951, 3976, 4001, 4026, 4051, 4076, 4101, 4126, 4151, 4176, 4201, 4226, 4251, 4276, 4301, 4326, 4351, 4376, 4401, 4426, 4451, 4476, 4501, 4526, 4551, 4576, 4601, 4626, 4651, 4676, 4701, 4726, 4751, 4776, 4801, 4826, 4851, 4876, 4901, 4926, 4951, 4976, 5001, 5026, 5051, 5076, 5101, 5126, 5151, 5176, 5201, 5226, 5251, 5276, 5301, 5326, 5351, 5376, 5401, 5426, 5451, 5476, 5501, 5526, 5551, 5576, 5601, 5626, 5651, 5676, 5701, 5726, 5751, 5776, 5801, 5826, 5851, 5876, 5901, 5926, 5951, 5976, 6001, 6026, 6051, 6076, 6101, 6126, 6151, 6176, 6201, 6226, 6251, 6276, 6301, 6326, 6351, 6376, 6401, 6426, 6451, 6476, 6501, 6526, 6551, 6576, 6601, 6626, 6651, 6676, 6701, 6726, 6751, 6776, 6801, 6826, 6851, 6876, 6901, 6926, 6951, 6976, 7001, 7026, 7051, 7076, 7101, 7126, 7151, 7176, 7201, 7226, 7251, 7276, 7301, 7326, 7351, 7376, 7401, 7426, 7451, 7476, 7501, 7526, 7551, 7576, 7601, 7626, 7651, 7676, 7701, 7726, 7751, 7776, 7801, 7826, 7851, 7876, 7901, 7926, 7951, 7976, 8001, 8026, 8051, 8076, 8101, 8126, 8151, 8176, 8201, 8226, 8251, 8276, 8301, 8326, 8351, 8376, 8401, 8426, 8451, 8476, 8501, 8526, 8551, 8576, 8601, 8626, 8651, 8676, 8701, 8726, 8751, 8776, 8801, 8826, 8851, 8876, 8901, 8926, 8951, 8976, 9001, 9026, 9051, 9076, 9101, 9126, 9151, 9176, 9201, 9226, 9251, 9276, 9301, 9326, 9351, 9376, 9401, 9426, 9451, 9476, 9501, 9526, 9551, 9576, 9601, 9626, 9651, 9676, 9701, 9726, 9751, 9776, 9801, 9826, 9851, 9876, 9901, 9926, 9951, 9976, 10001, 10026, 10051, 10076, 10101, 10126, 10151, 10176, 10201, 10226, 10251, 10276, 10301, 10326, 10351, 10376, 10401, 10426, 10451, 10476, 10501, 10526, 10551, 10576, 10601, 10626, 10651, 10676, 10701, 10726, 10751, 10776, 10801, 10826, 10851, 10876, 10901, 10926, 10951, 10976, 11001, 11026, 11051, 11076, 11101, 11126, 11151, 11176, 11201, 11226, 11251, 11276, 11301, 11326, 11351, 11376, 11401, 11426, 11451, 11476, 11501, 11526, 11551, 11576, 11601, 11626, 11651, 11676, 11701, 11726, 11751, 11776, 11801, 11826, 11851, 11876, 11901, 11926, 11951, 11976, 12001, 12026, 12051, 12076, 12101, 12126, 12151, 12176, 12201, 12226, 12251, 12276, 12301, 12326, 12351, 12376, 12401, 12426, 12451, 12476, 12501, 12526, 12551, 12576, 12601, 12626, 12651, 12676, 12701, 12726, 12751, 12776, 12801, 12826, 12851, 12876, 12901, 12926, 12951, 12976, 13001, 13026, 13051, 13076, 13101, 13126, 13151, 13176, 13201, 13226, 13251, 13276, 13301, 13326, 13351, 13376, 13401, 13426, 13451, 13476, 13501, 13526, 13551, 13576, 13601, 13626, 13651, 13676, 13701, 13726, 13751, 13776, 13801, 13826, 13851, 13876, 13901, 13926, 13951, 13976, 14001, 14026, 14051, 14076, 14101, 14126, 14151, 14176, 14201, 14226, 14251, 14276, 14301, 14326, 14351, 14376, 14401, 14426, 14451, 14476, 14501, 14526, 14551, 14576, 14601, 14626, 14651, 14676, 14701, 14726, 14751, 14776, 14801, 14826, 14851, 14876, 14901, 14926, 14951, 14976, 15001, 15026, 15051, 15076, 15101, 15126, 15151, 15176, 15201, 15226, 15251, 15276, 15301, 15326, 15351, 15376, 15401, 15426, 15451, 15476, 15501, 15526, 15551, 15576, 15601, 15626, 15651, 15676, 15701, 15726, 15751, 15776, 15801, 15826, 15851, 15876, 15901, 15926, 15951, 15976, 16001, 16026, 16051, 16076, 16101, 16126, 16151, 16176, 16201, 16226, 16251, 16276, 16301, 16326, 16351, 16376, 16401, 16426, 16451, 16476, 16501, 16526, 16551, 16576, 16601, 16626, 16651, 16676, 16701, 16726, 16751, 16776, 16801, 16826, 16851, 16876, 16901, 16926, 16951, 16976, 17001, 17026, 17051, 17076, 17101, 17126, 17151, 17176, 17201, 17226, 17251, 17276, 17301, 17326, 17351, 17376, 17401, 17426, 17451, 17476, 17501, 17526, 17551, 17576, 17601, 17626, 17651, 17676, 17701, 17726, 17751, 17776, 17801, 17826, 17851, 17876, 17901, 17926, 17951, 17976, 18001, 18026, 18051, 18076, 18101, 18126, 18151, 18176, 18201, 18226, 18251, 18276,

In [ ]:
get_all_data(2016)

In [ ]:
get_all_data(2014)

26675